.dropList {
  font-size: 16px; }

.labely {
  font-weight: 300;
  font-size: 18px;
  color: #38424E; }

.btnSearch {
  float: right;
  margin-top: 20px; }

.headSearch {
  font-size: 25px; }

.titleResult {
  width: 100%;
  height: 86px;
  background-color: red;
  color: white; }

.h2extends {
  margin-left: -10px;
  margin-right: -10px; }

#searchResults {
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 400px; }

.searchinResults {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.tableContent {
  margin-left: 10px;
  margin-right: 10px; }

.action {
  width: 60px; }

.seleccionable {
  cursor: pointer; }
